<app-header title="Articles" [back]="back"></app-header>

<ion-content class="">
  <ion-refresher id="refresher" slot="fixed" (ionRefresh)="reload($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar placeholder="Rechercher un article..." (ionInput)="getArticles()"></ion-searchbar>

  @for(article of articles; track article.id){
    <app-article-card [article]="article"></app-article-card>
  }

  <app-pagination [page]="page" [lastPage]="lastPage" (changePage)="changePage($event)"></app-pagination>

</ion-content>
