<app-header title="Clients"></app-header>

<ion-content class="">
  <ion-refresher id="refresher" slot="fixed" (ionRefresh)="reload($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- <ion-breadcrumbs [maxItems]="4" [itemsBeforeCollapse]="2">
    @for(menu of menus; track menu.id){
    <ion-breadcrumb [routerLink]="menu.route">
      <ion-icon slot="start" [name]="menu.icon"></ion-icon>
      {{ menu.name }}
    </ion-breadcrumb>
    }
  </ion-breadcrumbs> -->

  <ion-searchbar animated="true" placeholder="Client" [(ngModel)]="search" (ionInput)="getClients()" (keydown.enter)="getClients()" debounce="500"></ion-searchbar>
  <ion-list>
    @for(client of clients?.data; track client.id) {
      <app-client-card [client]="client"></app-client-card>
    }
  </ion-list>

  <div class="pagination">
    <ion-button
      (click)="changePage(page - 1)"
      [disabled]="page === 1">
      Précédent
    </ion-button>

    @if(page > 1) {
      <ion-button color="primary" (click)="changePage(1)"> 1 </ion-button>
    }
    <ion-button color="medium"> {{ page }} </ion-button>
    @if (lastPage > page) {
      <ion-button color="primary" (click)="changePage(lastPage)"> {{ lastPage }} </ion-button>
    }
    <ion-button
      (click)="changePage(page + 1)"
      [disabled]="page === lastPage">
      Suivant
    </ion-button>
  </div>

</ion-content>
