<app-header title="Clients"></app-header>

<ion-content class="ion-padding">

  <ion-list>
    @for(client of clients?.data; track client.id) {
      <app-client-card [client]="client"></app-client-card>
    }
  </ion-list>

  <div class="pagination">
    <ion-button
      (click)="changePage(page - 1)"
      [disabled]="page === 1">
      Précédent
    </ion-button>

    @if(page > 1) {
      <ion-button color="primary"> 1 </ion-button>
    }
    <ion-button color="medium"> {{ page }} </ion-button>
    @if (lastPage > page) {
      <ion-button color="primary"> {{ lastPage }} </ion-button>
    }
    <ion-button
      (click)="changePage(page + 1)"
      [disabled]="page === lastPage">
      Suivant
    </ion-button>
  </div>

</ion-content>
