<app-header title="Galaxy"></app-header>

<ion-content class="ion-padding">

  @if(result()){
    <div class="result">{{ result() }} </div>
  }

  <form  class=" mb-3" [formGroup]="form">
      <ion-input
        [(ngModel)]="textInput"
        mode="md"
        label="Texte à convertir"
        labelPlacement="floating"
        [clearInput]="true"
        placeholder="Texte à convertir"
        fill="outline"
        formControlName="search"
        maxlength="16"
        >
      </ion-input>

  </form>

  <div class="list">
    <div class="title">Équipements</div>
    @for(item of list_equip; track item){
      <ion-button size="small" (click)="appendInput(item)">{{ item }}</ion-button>
    }
  </div>
  <div class="list">
    <div class="title">Zones</div>
    @for(item of list; track item){
      <ion-button size="small" (click)="appendInput(item)">{{ item }}</ion-button>
    }
  </div>
  <div class="list">
    <div class="title">Numéros</div>
    @for(item of list_numbers; track item){
      <ion-button size="small" (click)="appendInput(item)">{{ item }}</ion-button>
    }
  </div>

</ion-content>
